# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll


# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Debug files
*.pdb
*.idb

# Python pycache
__pycache__/
*.pyc
*.pyo

# Project structures
.vscode/.ropeproject/objectdb
.vscode/settings.json
.idea/
/local references/
/.venv
releases/maya/scripts/blue_steel/api/blednshapeBK.py
releases/maya/scripts/blue_steel/api/mayaToNumpy_ref.py
releases/maya/scripts/blue_steel/api/trackers_old.py
releases/maya/scripts/blue_steel/api/blendShapeView.py
releases/maya/unittest
scripts/blue_steel_start_maya_2022.py
